In [2]:
%load_ext sql

In [3]:
%sql sqlite:///new1_db.db

In [23]:
%%sql

DROP TABLE IF EXISTS ChicagoCensusData;
DROP TABLE IF EXISTS ChicagoCrimeData;
DROP TABLE IF EXISTS ChicagoPublicSchools;

CREATE TABLE ChicagoCensusData ( 
    COMMUNITY_AREA_NUMBER                            REAL    PRIMARY KEY,
    COMMUNITY_AREA_NAME                              VARCHAR,
    PERCENT_OF_HOUSING_CROWDED                       REAL,
    PERCENT_HOUSEHOLDS_BELOW_POVERTY                 REAL,
    PERCENT_AGED_16_UNEMPLOYED                       REAL,
    PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA      REAL,
    PERCENT_AGED_UNDER_18_OR_OVER_64                 REAL,
    PER_CAPITA_INCOME                                INTEGER,
    HARDSHIP_INDEX                                   INTEGER,
);

CREATE TABLE ChicagoCrimeData (
    ID                 REAL,  
    CASE_NUMBER        VARCHAR
);

 * sqlite:///new1_db.db
(sqlite3.OperationalError) database is locked
[SQL: DROP TABLE IF EXISTS ChicagoCensusData;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
%%sql
SELECT * FROM ChicagoCrimeData;

 * sqlite:///new1_db.db
Done.

[]

In [25]:
# Import required modules
import csv
import sqlite3

# Connecting to the geeks database
connection = sqlite3.connect('new1_db.db')

# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()

# Opening the person-records.csv file
file1 = open('ChicagoCensusData.csv')
file2 = open('ChicagoCrimeData.csv')

# Reading the contents of the
# person-records.csv file
contents1 = csv.reader(file1)
contents2 = csv.reader(file2)

# SQL query to insert data into the
# person table
insert_records1 = "INSERT INTO ChicagoCensusData (COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16_UNEMPLOYED,PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?)"
insert_records2 = "INSERT INTO ChicagoCrimeData (ID,CASE_NUMBER) VALUES(?, ?,)"

# Importing the contents of the file
# into our person table
cursor.executemany(insert_records1, contents1)
cursor.executemany(insert_records2, contents2)

# Committing the changes
connection.commit()

# closing the database connection
connection.close()

IntegrityError: datatype mismatch

In [26]:
%%sql
SELECT * FROM ChicagoCensusData;

 * sqlite:///new1_db.db
Done.

[]